body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}

header {
    text-align: center;
    padding: 20vh 0 12.5vh 0;
}

header p {
    font-weight: 300;
    color: #ffffff; /* #373a4b */
}

#logo {
    width: 25vw;
    margin-left: 3.3vw;
}

section {
    padding: 0 5vw 0 5vw;
}

a {
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    border: #26BEFF 1px solid;
}

#sign_up {
    margin-bottom: 10px;
    background-color: #26BEFF;
    color: #ffffff;
}

#sign_in {
    background-color: transparent;
    color: #26BEFF;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #26BEFF;
    padding: 5px 5vw;
    color: #ffffff;
}

footer h1 {
    font-weight: 900;
    font-size: 21px;
    line-height: 1;
}

footer p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.25;
}